@page "/"

<PageTitle>Index</PageTitle>
<!DOCTYPE html>
<html>
<head>
    <style>
        img {
            width: 100%;
        }
    </style>
</head>
<body>
    <h1>Hello, Hungry customer!</h1>

    <h3>Welcome to Yumzy Food Delivery! </h3>

    <h5>This is the landing page... </h5>

    <img src="/css/kway.jpg" alt="FOOOOOOOOOD" style="width:500px;height:400px;">

</body>
</html>